<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.mapper.AdminMapper">



    <select id="searchDish" resultType="com.kevin.entity.Dish">
        select * from dish
    </select>



</mapper>